#logo1{
    height: 15px;
    position: relative;
    left: 70px;
}
#logo2{
    display: block;
    height: 100px;
    position:relative;
    left: 340px;
    top:-100px;

}
#header{
   background-image: url('images/hbg.jpg');
}
#body{
    background-color:white;
    overflow: hidden;
    cursor: url("images/pointer.cur"), auto;
    
}
#welcome-text-box{
    position: relative;
    float: left;
    width: 50%;
    margin-left: 3%;
    margin-top: 0%;
    border: 1px solid rgb(56, 54, 54);
    padding: 20px;
    overflow: auto;

}
#body-text{
    font-family:'Times New Roman', Times, serif;
    
}
#header-text{
    font-size: 100px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 0%;
   
}
.header-tabs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    height: 50px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}
#startbutton{
    position: relative;
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;
    margin: 0%;
    top: -50px;
    text-align: center;
    width: 100%;
    background-color: rgb(245, 198, 198);
    border-radius: 25px ;
     cursor: url("images/pointer.cur"), auto;
     border: 2px solid rgb(151, 46, 46)
    
}
#startbutton:hover{
    box-shadow: 0 0 20px rgb(146, 16, 16);
    transition-duration: .5s;
}
.slider{
    overflow: hidden;
    position:relative ;
}
.slider_item img{
    position: relative;
    height:470px;
    width: 370px;
    border-radius: 25px;
    left: 120px;
    margin-top: 0%;
    border: 1px solid  rgb(56, 54, 54);
    
   
}
.slider_item{
    height: 100%;
    width: 100%;
    padding: 1em;
    display: none;

}
.slider_item--selected{
    display: block;

}
.slider_nav{
    width: 100%;
    padding:20px 0;
    position: relative;
    bottom:0;
    left: 250px;
    top: -100px;
   

}
.slider_button{
    width: 10px;
    height:10px;
    display:inline-block;
    background: rgb(210, 118, 118);
    border-radius: 50%;
    margin: 0 10px;
    cursor: url("images/pointer.cur"), auto;
    
}
.slider_button:hover{
    box-shadow: 0 0 20px rgb(245, 1, 1);
}
.slider_button--selected{
    background:rgb(246, 246, 246);
}
/* this is page 2 css styling*/
#body2{
    overflow-x: hidden;
    cursor: url("images/pointer.cur"), auto;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.cards img {
    position: relative;
    opacity: 70% ;
    justify-content: space-evenly;
    margin: 5px;
    width: 100%;
    height:470px;
    width: 320px;
    border-radius: 25px;

}

.card_text{
    position: absolute;
    text-align: center;
    width: 22%;
    margin-top: -20%;
    font-size: 65px;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
}
.cards img:hover{
    box-shadow: 0 0 30px rgb(141, 0, 0);
}
.card_text:hover{
    box-shadow: 0 0 30px rgb(141, 0, 0);
}