#logo1{
    height: 20px;
    position: relative;
    left: 50px;
}
#logo2{
    height: 200px;
    position: relative;
    left: 250px;
    top:-100px;

}
#header{
   background-image: url('hbg.jpg');
}
#body{
    background-color:white;
    overflow: hidden;
    
}
#text-box{
    position: relative;
    float: left;
    width: 50%;
    margin-left: 3%;
    margin-top: 0%;
    border: 1px solid rgb(56, 54, 54);
    padding: 20px;
    overflow: auto;

}
#text{
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0%;
   
}
#line{
    font-size:30px;
    margin: 0%;
    text-align: center;
}
#startbutton{
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    margin: 0%;
    top: -50px;
    text-align: center;
    width: 100%;
    background-color: rgb(245, 198, 198);
    border-radius: 25px ;
    cursor: pointer;
     border: 2px solid rgb(151, 46, 46)
    
    
}
.slider{
    overflow: hidden;
    position:relative ;
}
.slider_item img{
    position: relative;
    height:470px;
    width: 370px;
    border-radius: 25px;
    left: 120px;
    margin-top: 0%;
    border: 1px solid  rgb(56, 54, 54);
    
   
}
.slider_item{
    height: 100%;
    width: 100%;
    padding: 1em;
    display: none;

}
.slider_item--selected{
    display: block;

}
.slider_nav{
    width: 100%;
    padding:20px 0;
    position: relative;
    bottom:0;
    left: 250px;
    top: -100px;
   

}
.slider_button{
    width: 10px;
    height:10px;
    display:inline-block;
    background: rgb(210, 118, 118);
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    
}
.slider_button--selected{
    background:rgb(151, 46, 46);
}